.product {
    width: 100%;
    max-width: 304px;
    height: 100%;
    max-height: 568px;
    border-radius: 8px;
    padding: 32px;
    margin: 0 5px;
    background-color: #ffffff;
    position: relative;

    &:hover {
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    }

    img {
        width: 240px;
        height: 240px;
        margin: 32px auto;
    }

    .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 24px 0;
        color: #1c1c1c;
        width: 240px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .old-price {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #b5b5b6;
        letter-spacing: -0.5%;
        text-decoration: line-through;
    }
    .price {
        color: #da4b4f;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.5%;
    }
    .installments {
        color: #b5b5b6;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.5%;

        .installments-contrast {
            color: #000;
            margin: 0 5px;
        }
    }

    .btn-buy-default {
        border: none;
        color: #fff;
        background-color: #40b25c;
        width: 240px;
        height: 48px;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px 0 10px 0;
        transition: 0.5s ease;

        &:hover {
            background-color: #1c6c3e;
        }
    }
    .active {
        color: #000;
        background-color: #a3f9b9;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #a3f9b9;
        }
    }
}
